[Desktop Entry]
Name=Ansible Silverblue OCI Flatpak FirstBoot Setup
Comment=Installs a prescribed set of Flatpaks on first boot
Exec=/usr/bin/ansible-silverblue-flatpak
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=startup
